@{
  ViewData["Title"] = "Training in vanilla JS";
}

<h2>What is this all about?</h2>

<p>Well, JavascriptServices are cool. For a .net process to be able to interact
  with node tools  
</p>

<h2>These are the exercises:</h2>

<ul>
  <li>@Html.ActionLink("Exercise 01", "Exercise01", "Exercise")</li>
  <li>@Html.ActionLink("Exercise 02", "Exercise02", "Exercise")</li>
</ul>

